body {
	background-color: #fefbd8;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		background: linear-gradient(to top left, #ffcc66 0%, #ffffff 100%);

}

.social-media{
	color: #000000;
	bottom: 0;
	padding: 1px;
}
#footer{
	position: relative;
	bottom: 0;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
#ryan {
	height: 100%;
	margin: auto;
	margin-top: 0;
	text-align: center;
}
#ryan_end{
	margin: 30px;
}

#ryan_animation {
	height: 10em;
	margin: 0 auto;
	width: 11em;
}
#ryan_guesses{
	margin: 20px;
	font-family: 'Source Code Pro', monospace;
}
#ryan_word{
	margin: 10px
}
#ryan_gameover, #ryan_victory {
	font-size: 5em;
}  
section#ryanan {
	height: 30.5em;
	overflow: hidden;
}
.btn{
	box-shadow :none;
	outline: none;
	margin: 15px;
	margin-bottom: 10px;
	font-family: 'Fuzzy Bubbles', cursive;
  }
.h {
	opacity: 0;
}

#ryan_word, #ryan_guesses {
	letter-spacing: 1em;
}

#myModal{
	margin-top: 0px;
}

.man_head {
  border-radius: 50%;
  width: 40px;
  height: 40px; 
	background-color: #FFCC99;
	position: relative;
	bottom: 150px;
	left: 112px;
  }
  .man_upper {
	background: #000066;
	width: 40px;
	height: 50px;
	position: relative;
	left: 112px;
	bottom: 150px;
  }
  
  .man_lower {
	background: #330099;
	width: 30px;
	height: 30px;
	position: relative;
	left: 117px;
	bottom: 150px;
  }
  
  .pole_h {
	background: #000;
	width: 100px;
	height: 8px;
	position: relative;
	left: 46px;
  }
  
  .pole_v {
	width: 8px;
	height: 150px;
	background: #000;
	left: 46px;
	position: relative;
  }
  
  .pole_b {
	border-color: transparent transparent #000000 transparent;
	border-width: 0 50px 50px 50px;
	border-style: solid;
	width: 0;
	height: 0;
	bottom: 10px;
	position: relative;
  }
  
  .rope {
	width: 6px;
	height: 40px;
	background-color: #996633;
	position: relative;
	bottom: 150px;
	left: 130px;
  }

  #heading{
	  color:#ffcc66;
	  margin: 20px 0 0 0;
  }